// Color PageNews
$color-pageNew-signText: #fff;
$color-pageNew-cirke1: #fff;
$color-pageNew-text:#000;
$color-pageNew-heading:#929292;
$color-pageNew-content:#000;
$color-pageNew-price:#AF0707;
$color-pageNew-noPrice:#9E9E9E;
$color-pageNew-boder1:#C3DEE4;
$color-pageNew-item1:#8667DE;
$color-pageNew-item2:#fff;
$color-pageNew-boder2:#000000;
$color-pageNew-item3:#C3DEE4;
$color-pageNew-boder3:#9daaad;
$color-pageNew-signs1:#EB5757;
$color-pageNew-signs2:#219653;


