:root {
  --color-primary: #000;
  --color-light: #ffffff;
  --color-gray1: #F8F8FC;
  --color-gray2: #f2f2f7;
  --color-gray3: #DEDEE9;
  --color-gray4: #D2D2E2;
  --color-gray5: #929292;
  --color-gray6: #6D6D9C;
  --color-gray7: #494880;
  --color-gray8: #26256C;
  --color-gray9: #17174F;
  --color-dark: #0f0f36;
  --font-primary: "Jost", sans-serif;
  --font-secondary: "Roboto Condensed", sans-serif;
  --font-tertiary: "Roboto", sans-serif;
  --font-quaternary:'Poppins';

  --color-cirkle1:#FFD860;
  --color-cirkle2: #C3DEE4;
  --color-cirkle3: #8667DE;

  --color-item1: #EB5757;
}



// // trung lập
$color-pageNew-signText: #fff;
$color-pageNew-cirke1: #fff;
$color-pageNew-heading:#929292;
$color-pageNew-content:#000;
$color-pageNew-price:#AF0707;
$color-pageNew-noPrice:#9E9E9E;
$color-pageNew-boder1:#C3DEE4;
$color-pageNew-item1:#8667DE;
$color-pageNew-item2:#fff;
$color-pageNew-boder2:#000000;
$color-pageNew-item3:#C3DEE4;
$color-pageNew-boder3:#9daaad;
$color-pageNew-signs1:#EB5757;
$color-pageNew-signs2:#219653;


