{% macro render(opts) %}
	<div class="remove">
		<div class="remove__box">
			<p class="remove__text">Clear All</p>
		</div>
		<div class="remove__box">
			<p class="remove__text">Yeallow</p>
		</div>
		<div class="remove__box">
			<p class="remove__text">Hat</p>
		</div>
	</div>
{% endmacro %}
