{% macro render(opts) %}
	<div class="number">
		<div class="number__page">
			<p class="number__text">1</p>
		</div>
		<div class="number__page">
			<p class="number__text">2</p>
		</div>
		<div class="number__page">
			<p class="number__text">3</p>
		</div>
		<div class="number__page">
			<p class="number__text">4</p>
		</div>
		<div class="number__page">
			<p class="number__text">-></p>
		</div>
	</div>
{% endmacro %}
