.buttonLoad {
  width: 272px;
  height: 60px;
  text-align: center;
  background-color: #000;
}
.buttonLoad1 {
  font-weight: 600;
  font-size: 17px;
  margin: unset;
  color: #fff;
  height: 100%;
  padding: 18px;
}
