{% macro render(opts) %}
	<div class="col-lg-12">
		<div class="box-login__heading">
			<div class="box-login__text">Log in</div>
			<div class="box-login__sub">Lorem ipsum dolor sit amet, consectetur adipiscing
			</div>
		</div>
	</div>
  <div class="col-lg-3">
    <div class="box-login__reg">
      <div class="box-login__regH">New Customer</div>
      <div class="box-login__regT">Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails.</div>
      <div class="box-login__regB">
        <div class="box-login__regbtnT">Register</div>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
  <div class="box-login__sign">
      <div class="box-login__signH">Log In</div>
      <input type="text" class = "box-login__email" name="" id="">
      <input type="text" class = "box-login__passw" name="" id="">
      <div class="box-login__forgot">Forgot password?</div>
      <div class="box-login__signB">
          <div class="box-login__signbtnT">Sign In</div>
      </div>
  </div>
  </div>
{% endmacro %}
