
.container-menudonars__iconI {
  display: inline-block;
}
.container-menudonars__linkI {
  padding-left: 20px;
  display: inline-block;
  list-style: none;
  i {
    color: #fff;
    font-size: 20px;
  }
}
