{% macro render(opts) %}
	<div class="box-sign__contain">
		<div class="box-sign__sub box-sign__heading">
			<h5 class="box-sign__headingT">
				Sign-up for LogoNews
			</h5>
		</div>
		<div class="box-sign__sub box-sign__description">
			<span class="box-sign__text">Stay informed about the latest style advice and product launches.<br>Learn more about our emails and our Privacy Policy.</span>
		</div>
		<div class= "box-sign__sub box-sign__emailB">
			<input type="text" class="box-sign__email" placehoder="Email addredd">
			<div class="box-sign__button">
				<div class="box-sign__buttonT">SUBSCRIBE</div>
			</div>
		</div>
	</div>
{% endmacro %}
