.box-sign {
  display: flex;
  justify-content: center;
}
.box-sign__headingT {
  font-size: 35px;
}
.box-sign__contain {
  line-height: 2.5;
  text-align: center;
  padding: 40px 0px;
}
.box-sign__sub {
  padding-bottom:20px ;
}
.box-sign__text {
  word-break: break-word;
}
