{% macro render(opts) %}
  	<div class="cirkle">
			<div class=" cirkle__color cirkle__color1">
				<div class="cirkle__color--sub"></div>
			</div>
			<div class=" cirkle__color cirkle__color2">
      </div>
			<div class=" cirkle__color cirkle__color3"></div>
		</div>
{% endmacro %}
