{% macro render(opts) %}
	<div class="start">
		<div class="start__item">
			<i class=" start__icon fas fa-star"></i>
		</div>
		<div class=" start__item">
			<i class=" start__icon fas fa-star"></i>
		</div>
		<div class="start__item">
			<i class=" start__icon fas fa-star"></i>
		</div>
		<div class="start__item">
			<i class=" start__icon fas fa-star"></i>
		</div>
		<div class="start__item">
			<i class=" start__icon fas fa-star"></i>
		</div>
	</div>
{% endmacro %}
