{% import "../../../shared/header/header.twig" as header %}
{% import "../../../shared/inputEmail/inputEmail.twig" as input %}
<div class="container-header">
  <div class="row">
    {{header.render(headerPage)}}
  </div>
</div>
