{% macro render(opts) %}
  <div class="box-search">
  <input type="text" class ="box-search__input" placeholder = "Search">
  <div class="box-search__icon">
    <i class="fas fa-search"></i>
  </div>
  </div>
{% endmacro %}
