{% import "../../../shared/rewardbox/rewardbox.twig" as rewards %}
<div class="container-bg">
	<div class="container-rewrard">
		<div class="container-rewrard__box">
			{% for item in reward.content %}
				{{rewards.render(item)}}
			{% endfor %}
		</div>
	</div>
</div>
