.container-bg {
  background-color: #FFE7D5;
}
.container-rewrard {
  padding: 0 10px;
}
.container-rewrard__box {
  padding-left:65px;
}
.container-rewrard__list {
  display: inline-block;
  padding: 28px;
  margin-right: 60px;
  i {
    font-size: 23px;
  }
}
.container-rewrard__link {
  vertical-align: bottom;
  font-size: 17px;
  font-weight: 700;
}
