.container-instily {
  position: relative;
}
.container-instilyIMG {
  width: 100%;
}
.container-instily__box {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  align-items: center;
  margin: unset;
}
.container-instily__contain {
  text-align: center;
}
.instily-left {
  justify-content: center;
}
.container-instily__heading1 {
  margin: unset;
  font-size: 20px;
  font-weight: 600;
}
.container-instily__title1 {
  margin:  12px;
  font-size: 50px;
}
.container-instily__content1 {
  font-family: $font-tertiary;
}
.container-instily__box3 {
  text-align: center;
  .container-instily__content1,
  .container-instily__title1,
  .container-instily__heading1 {
    color: #fff;
  }
}
.container-instily__contain3 {
  color: $color-gray1;
  text-align: center;
  .container-instily__title1 {
    color: $color-gray1;
  }
  .buttonShop3 {
    background-color: $color-gray1;
    p {
      color: $color-primary;
    }
  }
}
.container-instily__content {
  margin-bottom: 35px;
}
