{% macro render(opts) %}
  <div class="container-instily__heading">
    <p class = "container-instily__heading1" >{{opts.heading}}</p>
  </div>
  <div class="container-instily__title">
    <h1 class="container-instily__title1">{{opts.title}}</h1>
  </div>
  <div class="container-instily__content">
    <p class="container-instily__content1">{{opts.description}}</p>
  </div>
{% endmacro %}
